<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head %>

    <script src="js/vue.min.js" charset="utf-8"></script>

  </head>
  <body>

    <div class="wrapper">
      <div class="header">
        <% include partials/header %>
      </div>
      <div class="main">

        <% include partials/search_bar %>

        <div class="results_container">
          <%
          for(var record_index=0; record_index<records.length; record_index++){
            %>

            <div class="record_container <%= records[record_index]._fields[0].labels[0] %>">

              <div class="label_container">
                <%= records[record_index]._fields[0].labels[0] %>
              </div>


              <div class="properties_container">
                <table>
                <% properties = records[record_index]._fields[0].properties
                  for(key in properties) { %>
                    <tr>
                      <% if( properties[key].toLowerCase().includes(query.toLowerCase()) ){ %>
                      <td><%= key %></td>
                      <td><span class="highlighted"><%= properties[key] %></span></td>

                      <% } else {%>
                        <td><%= key %></td>
                        <td><%= properties[key] %></td>
                      <% } %>
                    </tr>
                <% } %>
                </table>
              </div>

              <form class="" action="show_relationships" method="get">
                <input type="hidden" name="id" value="<%= records[record_index]._fields[0].identity.low %>">
                <input type="submit" value="Show relationships">
              </form>

            </div>

          <% } %>

        </div>


      </div>
      <div class="footer">
        <% include partials/footer %>
      </div>
    </div>

    <script type="text/javascript">

    var records = JSON.parse('<%- JSON.stringify(records) %>')
    console.log(records[0]._fields[0].identity.low)

    </script>




  </body>
</html>
