<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head %>

    <link rel="stylesheet" href="css/relationships.css">

    <script src="js/vue.min.js" charset="utf-8"></script>

  </head>
  <body>

    <div class="wrapper">
      <div class="header">
        <% include partials/header %>
      </div>
      <div class="main" id="app">

        <!-- The search bar -->
        <% include partials/search_bar %>

        <!-- Filters -->
        <% include partials/filters %>

        <!-- The selected node -->
        <div class="record_container <%= records[0]._fields[0].labels[0] %>">
          <div class="label_container">
            <%= records[0]._fields[0].labels[0] %>
          </div>

          <div class="properties_container">
            <table>
            <% properties = records[0]._fields[0].properties
              for(key in properties) { %>
                <tr>
                  <td><%= key %></td>
                  <td><%= properties[key] %></td>
                </tr>
            <% } %>
            </table>

          </div>
        </div>

        <!-- Related nodes -->
        <div
          class="related_record_container"
          v-for="record in records"
          v-if="filters.includes(record._fields[2].labels[0])"
        >

          <!-- Container for the relationship -->
          <div class="relationship_container">

            <!--
            <div class="relationship_vertical_line"></div>
            <div class="relationship_horizontal_line"></div>

            <div
              class="relationship_arrow"
              v-bind:class="relationship_class(record)"
            ></div>
            -->


            <!-- Container for the label -->
            <div class="relationship_label_container">
              {{record._fields[1].type}}
            </div>

          </div>

          <div
            class="record_container"
            v-bind:class="record._fields[2].labels[0]"
          >

            <!-- Describes the type of node -->
            <div class="label_container">
              {{record._fields[2].labels[0]}}
            </div>

            <!-- Container for table of properties -->
            <div class="properties_container">
              <table>
                <tr v-for="property, key in record._fields[2].properties">
                  <td>{{key}}</td>
                  <td>{{property}}</td>
                </tr>
              </table>
            </div>

            <!-- Button to show relationships -->
            <form class="" action="show_relationships" method="get">
              <input type="hidden" name="id" v-bind:value="record._fields[2].identity.low">
              <input type="submit" value="Show relationships">
            </form>

          </div>
        </div>
        <!-- End of related record container -->

      </div>
      <div class="footer">
        <% include partials/footer %>
      </div>
    </div>

    <script type="text/javascript">

    var records = JSON.parse('<%- JSON.stringify(records) %>')
    var query = JSON.parse('<%- JSON.stringify(query) %>')
    //console.log(query)
    </script>

    <script src="js/show_relationships.js" charset="utf-8"></script>





  </body>
</html>
